/* specific overrides */
h1 { margin-top: 85px!important; }
a,a:link,a:visited {color:#bb0000; outline:none;}
div.formContent { padding-top: 20px; }
div.topBar { background: #f00; }
.inputContact input, .inputContact select { width: 250px; }
.inputContact, table.radioBtn { margin-top: 0; margin-bottom: 18px; }
table.radioBtn { margin-left: 35px; }
        table.radioBtn tr { vertical-align: top; }
        table.radioBtn td { line-height: 18px; }
        table.radioBtn input { vertical-align: top; margin: 3px 5px 0 0; }
.inputMore { margin-bottom: 18px; }
        .inputMore p { font-weight: normal; line-height: 18px }
        .inputMore p input { vertical-align: top; margin: 3px 5px 0 0; }


#Application table {
    width: 100%;
    border: none;
    padding: 0px;
    border-collapse: collapse;
    font: 11px Verdana, Geneva, Arial, sans-serif; }
#Application table tr td.FieldSpace { padding-top: 18px; }

#Application input, #Application select, #Application textarea { font: 11px Verdana, Geneva, Arial, sans-serif; margin-top: 3px; }

.InputShort { width: 320px; }
.InputLong { width: 500px; }

